# Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some algorithms that are not affected by missing values.
Ans:In real world of data set, missing data, or missing values, occur when no data value is stored for the variable in an observation. Missing data are a common occurrence and can have a significant effect on the conclusions that can be drawn from the data.The cause of missing values can be data corruption or failure to record data. The handling of missing data is very important during the preprocessing of the dataset as many machine learning algorithms do not support missing values.Histogram based Gradient-boosting Classifier / Regressor are some algorithims that are not affected by missing value.

# Q2: List down techniques used to handle missing data. Give an example of each with python code.
Ans:The techniques those are used to handle missing data are
1-Delete the rows and the data point to handle missing value
2-Column wise deletion
3-Mean value imputation
4-Median value imputation
5-Mode value imputation

In [2]:
#code For handleing missing value
import seaborn as sns

In [3]:
df=sns.load_dataset("titanic")

In [4]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
# 1-Delete the rows and the data point to handle missing value
df.dropna()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [13]:
# 2-Column wise deletion
df.dropna(axis=1)

,survived,pclass,sex,sibsp,parch,fare,class,who,adult_male,alive,alone
0,0,3,male,1,0,7.2500,Third,man,True,no,False
1,1,1,female,1,0,71.2833,First,woman,False,yes,False
2,1,3,female,0,0,7.9250,Third,woman,False,yes,True
3,1,1,female,1,0,53.1000,First,woman,False,yes,False
4,0,3,male,0,0,8.0500,Third,man,True,no,True
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,0,0,13.0000,Second,man,True,no,True
887,1,1,female,0,0,30.0000,First,woman,False,yes,True
888,0,3,female,1,2,23.4500,Third,woman,False,no,False
889,1,1,male,0,0,30.0000,First,man,True,yes,True
890,0,3,male,0,0,7.7500,Third,man,True,no,True

In [18]:
# 3-Mean value imputation
df["Age_mean"]=df["age"].fillna(df["age"].mean())
df[["Age_mean","age"]]

      Age_mean   age
0    22.000000  22.0
1    38.000000  38.0
2    26.000000  26.0
3    35.000000  35.0
4    35.000000  35.0
..         ...   ...
886  27.000000  27.0
887  19.000000  19.0
888  29.699118   NaN
889  26.000000  26.0
890  32.000000  32.0

[891 rows x 2 columns]

In [9]:
# 4-Median value imputation
df[df["embarked"].isnull()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True

In [10]:
df["embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [18]:
mode_value=df[df["embarked"].notna()]["embarked"].mode()[0]

In [23]:
df["Embraked_mode"]=df["embarked"].fillna(mode_value)

In [24]:
df[["Embraked_mode","embarked"]]

    Embraked_mode embarked
0               S        S
1               C        C
2               S        S
3               S        S
4               S        S
..            ...      ...
886             S        S
887             S        S
888             S        S
889             C        C
890             Q        Q

[891 rows x 2 columns]

# Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?
Ans:A classification data set with skewed class porpotions is called imbalanced data set. Classes that covers the large proportions of the data set are called as the majority classes. The classes that covers the less proportions of the data set is called as the minority classes.Imbalanced dat set will lead algorithims to get good results by returning the majority.That will be a problem if we are interested in  the minority more.So, balancing is a way to force the algorithim to give more weight to the minority.If imbalanced datasets are not handled, the resulting model may be biased towards the majority class and unable to accurately predict the minority class. This can result in incorrect predictions and misclassification of minority class instances, which may have serious consequences in applications such as fraud detection, medical diagnosis, and anomaly detection.

# Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-sampling are required?
Ans:Up-sampling and Down-sampling are two common used to handle imbalanced datasets in machine learning.
### Up-sampling:-
Up-sampling involves increasing the number of instances in the minority class to balance the class distribution. This can be done by randomly duplicating instances from the minority class, or by generating new synthetic instances. The goal of up-sampling is to increase the representation of the minority class in the dataset, and to give the model more exposure to the minority class during training.

Example:-An example where up-sampling may be required is in credit card fraud detection. In this case, the number of fraudulent transactions is typically much smaller than the number of legitimate transactions. Therefore, the dataset is imbalanced, and the minority class (fraudulent transactions) is underrepresented.

### Down-sampling:-
Down-sampling involves reducing the number of instances in the majority class to balance the class distribution. This can be done by randomly removing instances from the majority class. The goal of down-sampling is to reduce the bias towards the majority class and to give the model a more balanced representation of the classes during training.
Example:-An example where down-sampling may be required is in email spam detection. In this case, the number of spam emails is typically much larger than the number of legitimate emails. Therefore, the dataset is imbalanced, and the majority class (spam emails) is overrepresented.

# Q5: What is data Augmentation? Explain SMOTE.
Ans:Data augmentation is a technique used to increase the size of a dataset by artificially creating new examples that are similar to the original data. This technique is often used in machine learning to address issues with limited data, such as overfitting or imbalanced datasets.

There are several ways to perform data augmentation, including image rotation, flipping, cropping, and changing the brightness and contrast of an image. In the context of text data, augmentation can involve techniques such as adding synonyms, replacing words with their antonyms, or swapping words in a sentence.

SMOTE (Synthetic Minority Over-sampling Technique) is a specific data augmentation technique that is commonly used to address imbalanced datasets. SMOTE creates synthetic samples of the minority class by interpolating new examples between existing minority class instances.

Here is how SMOTE works:

1-Select a minority class instance at random
2-Identify its k nearest neighbors (k is a hyperparameter)
3-Choose one of the k nearest neighbors at random
4-Generate a new instance by interpolating between the selected instance and the chosen neighbor
5-Repeat steps 1-4 until the desired number of new minority class instances is generated.

SMOTE helps to address the class imbalance problem by creating new examples of the minority class, which can improve the ability of machine learning models to generalize to the minority class. SMOTE can be used in conjunction with other techniques such as random undersampling, which involves randomly removing instances from the majority class to balance the class distribution.

# Q6: What are outliers in a dataset? Why is it essential to handle outliers?
Ans:Outliers are data points that are significantly different from other data points in a dataset. Outliers can be caused by various factors such as measurement errors, data entry errors, or extreme values that represent rare events.

It is essential to handle outliers in a dataset because they can have a significant impact on statistical measures and machine learning models. Outliers can affect the mean and standard deviation, which are commonly used statistical measures to describe a dataset. If the dataset contains outliers, the mean may be skewed towards the outlier values, which can lead to incorrect interpretations of the data.

In machine learning, outliers can have a significant impact on the performance of models. Outliers can affect the fitting of the model, leading to overfitting or underfitting. Overfitting occurs when the model is too complex and captures noise in the data, including outliers. Underfitting occurs when the model is too simple and is unable to capture the underlying patterns in the data.

Handling outliers is essential to ensure that machine learning models are accurate and reliable. There are several techniques that can be used to handle outliers, including:

Removing outliers: One approach is to remove outliers from the dataset. However, this approach should be used with caution as it can lead to the loss of valuable information and potential bias in the remaining data.

Transforming the data: Transforming the data can help to reduce the impact of outliers. For example, using logarithmic or square root transformations can help to reduce the influence of extreme values.

Using robust statistical measures: Using robust statistical measures such as median and interquartile range (IQR) can help to reduce the impact of outliers on statistical measures.

Using outlier detection algorithms: Outlier detection algorithms can be used to identify and remove outliers from the dataset. These algorithms include methods such as Z-score, boxplots, and local outlier factor (LOF).

# Q7: You are working on a project that requires analyzing customer data. However, you notice that some of the data is missing. What are some techniques you can use to handle the missing data in your analysis?
Ans:Handling missing data is an important part of data analysis. There are several techniques that I can be used to handle missing data, including:

1-Deleting missing data: One approach is to delete rows or columns that contain missing data. This method is simple and straightforward, but it can result in a loss of valuable information.

2-Imputing missing data: Imputing missing data involves replacing missing values with estimated values. There are several methods for imputing missing data, including mean imputation, median imputation, mode imputation, regression imputation, and k-nearest neighbor (KNN) imputation. Each method has its strengths and weaknesses, and the choice of method will depend on the specific characteristics of the dataset.

3-Using models that can handle missing data: Some machine learning algorithms, such as decision trees, can handle missing data by splitting nodes based on the available data rather than using all the data to make a decision. Other algorithms, such as KNN, can also handle missing data by using the available data to estimate the missing values.

4-Using data augmentation techniques: Data augmentation techniques, such as SMOTE, can be used to generate synthetic data to replace missing values.

5-Conducting sensitivity analysis: Sensitivity analysis involves examining the effect of different assumptions about the missing data on the results of the analysis. This approach can help to identify the impact of missing data on the analysis and provide insight into the robustness of the results.

# Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are some strategies you can use to determine if the missing data is missing at random or if there is a pattern to the missing data?
Ans:When working with a large dataset, it is important to understand whether the missing data is missing at random (MAR), missing completely at random (MCAR), or missing not at random (MNAR). MAR refers to missing data where the probability of a value being missing depends only on observed data. MCAR refers to missing data where the probability of a value being missing does not depend on either observed or unobserved data. MNAR refers to missing data where the probability of a value being missing depends on unobserved data.

There are several strategies that can be used to determine if the missing data is missing at random or if there is a pattern to the missing data:

1-Visual inspection: One approach is to visually inspect the data to see if there is a pattern to the missing data. For example, if the missing data occurs more frequently in certain rows or columns, this may suggest that there is a pattern to the missing data.

2-Statistical tests: Statistical tests, such as chi-squared tests, can be used to test whether the missing data is MCAR. If the test is significant, this suggests that the missing data is not MCAR and there is a pattern to the missing data.

3-Imputation methods: Different imputation methods can be used to impute the missing data, and the results can be compared to see if there is a pattern to the missing data. For example, if different imputation methods produce similar results, this suggests that the missing data is MAR.

4-Machine learning models: Machine learning models can be used to predict the missing values based on the observed data. If the accuracy of the model is high, this suggests that the missing data is MAR.

5-Domain knowledge: Expert knowledge about the dataset can be used to determine if there is a pattern to the missing data. For example, if the missing data occurs more frequently in certain categories, this may suggest that there is a pattern to the missing data.

# Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the dataset do not have the condition of interest, while a small percentage do. What are some strategies you  can use to evaluate the performance of your machine learning model on this imbalanced dataset?
Ans:When working with imbalanced datasets, where one class is much more prevalent than the other, it can be challenging to evaluate the performance of machine learning models. In the case of a medical diagnosis project where the majority of patients do not have the condition of interest, some strategies to evaluate the performance of the machine learning model are:

1-Use evaluation metrics that are robust to imbalanced datasets: Accuracy may not be the best metric to evaluate the performance of the model since it does not take into account the imbalanced nature of the dataset. Instead, evaluation metrics such as precision, recall, F1 score, and Area Under the ROC Curve (AUC-ROC) are more appropriate for imbalanced datasets.

2-Resampling techniques: Resampling techniques such as oversampling the minority class or undersampling the majority class can be used to balance the dataset. This can improve the performance of the machine learning model by providing more balanced training data.

3-Cost-sensitive learning: Cost-sensitive learning involves assigning different misclassification costs to different classes. This can help the machine learning model to prioritize the minority class and reduce the impact of the imbalanced nature of the dataset.

4-Ensemble methods: Ensemble methods such as bagging, boosting, or stacking can be used to combine multiple machine learning models and improve the overall performance. This is particularly useful for imbalanced datasets since it can help to address the class imbalance problem.

5-Threshold tuning: The threshold for classification can be adjusted to prioritize recall over precision or vice versa, depending on the specific requirements of the application. This can help to improve the performance of the model on the minority class.

# Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to balance the dataset and down-sample the majority class?
Ans:When dealing with an unbalanced dataset in which the majority class overwhelms the minority class, it is essential to balance the dataset before training a machine learning model. One possible approach is to down-sample the majority class, which involves randomly selecting a subset of the majority class instances such that the resulting dataset has a balanced class distribution. Here are some methods that can be employed to balance the dataset and down-sample the majority class:

1-Random under-sampling: Randomly remove instances from the majority class until the dataset is balanced. This method can be useful when the majority class has many instances and the minority class is small.

2-Cluster-based under-sampling: Use clustering techniques to identify groups of instances in the majority class that are similar to each other and select only one instance from each group to include in the final dataset.

3-Tomek Links: Identify pairs of instances that are closest to each other, but belong to different classes. In this case, instances from the majority class can be removed to balance the dataset.

4-NearMiss: This algorithm removes instances from the majority class that are closest to the instances in the minority class. There are three variants of the algorithm based on the distance metric used to define closeness.

5-Edited Nearest Neighbors (ENN): This algorithm uses k-nearest neighbors to identify instances that are misclassified, and it removes them from the dataset.

6-Synthetic Minority Over-sampling Technique (SMOTE): This method is not a down-sampling technique but can be used to balance the dataset by oversampling the minority class. SMOTE generates synthetic examples of the minority class by interpolating between existing minority class examples.

# Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a project that requires you to estimate the occurrence of a rare event. What methods can you employ to balance the dataset and up-sample the minority class?
Ans:
When dealing with a dataset that is unbalanced with a low percentage of occurrences of a rare event, it is important to balance the dataset before training a machine learning model. One possible approach is to up-sample the minority class, which involves generating additional instances of the minority class to increase its representation in the dataset. Here are some methods that can be employed to balance the dataset and up-sample the minority class:

Random over-sampling: Randomly replicate instances of the minority class until the dataset is balanced. This method can be useful when the minority class has very few instances.

Synthetic Minority Over-sampling Technique (SMOTE): SMOTE generates synthetic examples of the minority class by interpolating between existing minority class examples. This method can be used to balance the dataset by oversampling the minority class.

Adaptive Synthetic Sampling (ADASYN): This algorithm is an extension of SMOTE that generates more synthetic examples for the minority class instances that are harder to learn based on the number of examples around them.

SMOTEBoost: This algorithm combines SMOTE and boosting, a technique that iteratively trains weak models and focuses on the misclassified instances, to create synthetic instances of the minority class and balance the dataset.

Weighting the classes: Assigning weights to the classes in the training algorithm can also be an effective way to balance the dataset. This method involves assigning higher weights to the minority class instances and lower weights to the majority class instances during the training process